@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* ----- CSS Reset ----- */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}
/* ----- CSS Reset ----- */

html, body, #root, .app, .app-container {
  width:100%;
  height:100%;
  background-color: #2b2b2b;
}

.app-container {
  display: grid;
  grid-template-rows: 1fr 10fr;
  margin: 0.4rem 0.4rem;
}

.app {
  margin: 1rem;
  display: grid;
  grid-template-columns: 3fr 7fr 5fr;
}

.textarea {
  width:100%;
  resize: none;
  height: 80%;
  margin-top: 1rem;
  background-color: #2b2b2b;
  border: solid rgb(65, 64, 64) 0.1px;
  padding: 1rem;
  color: white;
  

}
.timer-input {
  background-color: #2b2b2b;
  border: solid rgb(65, 64, 64) 0.1px;
  color: white;
  padding: 0.5rem;
margin-left: 0.7rem;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.timer-input:focus {
  outline: solid rgb(79, 53, 53);
}

.timer-input:hover {

}

.timer-label {
  display: flex;
  padding:0 2rem;
  align-items: center;
}

textarea:focus {
  outline: solid rgb(79, 53, 53);
}

.textarea::placeholder {
  color: grey;
}

.plus {
  font-weight: bolder;
  height: 1.5rem;
  color: white;
}

.paste {
display: flex;
align-items: center;
background: rgb(2, 101, 2);
border: none;
padding: 0.5rem 0.7rem 0.5rem 0.5rem;
color: white;
}

.pastes, .paste-item {
  text-decoration: none;
}

.link-no-text-d {
  text-decoration: none;
}

.paste:hover {
  cursor: pointer;
  background-color: rgb(3, 68, 3);
}

.main {
  background-color: #252525;
  border-radius: 0.5rem;
  margin-bottom: 5rem;
  padding: 1rem;
}

* {
  border-radius: 0.1rem;
}

.paste-nav {
  color: white;
  display: flex;
  justify-content: space-evenly;
  margin: 0.3rem;
  align-items: center;
}

.paste-button-text {
  white-space: nowrap;
}

.pastebin-icon {
  height: 2.5rem;
  margin-left:0.3rem;
  margin-right:0.2rem;
}

.nav {
  display: flex;
  color: #ffffff;
  text-decoration: none;
}

#logo-text {
  font-size: 1.6rem;
  letter-spacing: 2px;
  font-weight: 700;
}

.content {
  color: rgb(253, 246, 213);
  overflow: auto;
  width: 100%;
  height: 100%;
  max-width: 800px;
  background-color: #2b2b2b;
  border: solid rgb(65, 64, 64) 0.1px;
  padding: 1rem;
  min-height: 10rem;
}

.outer {
  overflow: auto;
  max-height: 400px;
}

.post-nav {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 1.5rem;
}

.copy-button {
  background: #026502;
  border: none;
  box-shadow: black 1px;
  padding: 0.5rem 0.5rem 0rem 0.5rem;
  box-shadow: 1px 1px 1px 1px #1e1e1e;
  transition: 0.1s background ease-in-out;
}

.copy-button:hover {
  cursor: pointer;
  background-color:  rgb(3, 68, 3);
}

.post-nav-item {
  background: #644d4d;
margin: 0.1rem;
padding: 0.2rem;
font-size: 0.8rem;
flex-grow: 1;
display: flex;
align-items: center;
box-shadow: black 1px;
box-shadow: 1px 1px 1px 1px #1e1e1e;
}

.auth-form-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: auto;
  margin: 0 auto;
  justify-content: space-evenly;
  background-color: #252525;
  padding: 1rem;
  color: white;
  border-radius: 0.5rem;
}

.auth-form-header {
  text-align: center;
}

.auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  margin: 0.14rem;
  display: flex;
  flex-direction: column;
}

.input {
  margin: 0.3rem;
  width:100%;
  background-color: #2b2b2b;
  border: solid rgb(65, 64, 64) 0.1px;
  padding: 0.8rem;
  color: white;
}

input:focus {
  outline: solid rgb(79, 53, 53);
}

.button {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.auth-button {
  background: rgb(2, 101, 2);
border: none;
padding: 0.5rem 0.7rem 0.5rem 0.5rem;
color: white;
}

.auth-button:hover {
  cursor: pointer;
  background-color: rgb(3, 68, 3);
}

.auth-toggle-form {
  background: none;
border: none;
color: #9c92e1;
text-decoration: underline;
}

.auth-toggle-form:hover {
  cursor: pointer;
}

.logout-button {
  background: rgb(145, 44, 32);
  border: none;
  padding: 0.5rem 0.7rem 0.5rem 0.5rem;
  color: white;
}

.logout-button:hover {
  background-color: rgb(118, 34, 24);
}

.right-col {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}

.left-col {
  padding: 1rem;
  overflow: auto;
  max-height: 35rem;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.time-icon {
  height: 1.5rem;
  margin-left:0.3rem;
  margin-right:0.2rem;
}

.timer-icon {
  height: 1.5rem;
  margin-left:0.3rem;
  margin-right:0.2rem;
}

.user-icon {
  height: 1.5rem;
  margin-left:0.3rem;
  margin-right:0.2rem;
}

.add-comment-button {
  background: #026502;
border: none;
box-shadow: black 1px;
padding: 0.5rem 0.5rem 0.5rem 0.5rem;
box-shadow: 1px 1px 1px 1px #1e1e1e;
transition: 0.1s background ease-in-out;
color: white;
}

.add-comment-button:hover {
  cursor: pointer;
  background-color:  rgb(3, 68, 3);
}

.comments {
  color: aliceblue;
  display: flex;
  flex-direction: column-reverse;
}

.comment {
  display: flex;
justify-content: space-between;
border: #4d3434 solid 0.05rem;
padding: 0.5rem;
margin: 0.5rem 0;
}

.comment-content {

}

.comment-created_at {
  font-size: 0.8rem;
  color: #9d8059;
}

.comment-username {
  font-size: 0.8rem;
  color: #8794cf;
}

.comment-main {
  margin-left: 1rem;
}

.time-unit-select {
  padding: 0.5rem;
}

.paste-item {
  background: #252525;
padding: 1rem;
margin: 1rem 0;
}

.paste-item-content {
  color: rgb(203, 192, 192);
}

.notification {
  border: green 1px solid;
padding: 1rem;
font-size: 1.1rem;
background: #0d0b0b;
color: white;
}